{{ define "main" }}


<!-- ========== Header ========== -->
<header id="pixel_header" class="header-personal v-dark-head pixel-header-animation h-100-v pixel-header-animation custom-header">
  <div class="bg-gradient p-absolute w-100 h-100 top-0 left-0"></div>
  <div class="p-relative pixel-hero-parallax-title h-100-v d-flex z-index-1">
    <div class="p-relative d-flex flex-column justify-content-center w-100 h-100">
      <div class="box-content d-flex flex-column z-index-1 align-items-center text-center pixel-container">
        <div id="hero_title">
          <h5 class="sub-heading">Hey — I'm</h5>
          <div class="box-img z-index-1 w-100 text-center"></div>
          <h1 class="title-lg clip is-full-width text-upper d-flex justify-content-center">
            {{ .Params.page_heading}}
          </h1>
          <p class="text-center text-align-center">
            {{ .Params.page_text}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-head w-100 left-0 p-absolute bottom-0 z-index-2 pb-40">
    <div class="container d-flex justify-content-between">
      <div class="pixel-btn pixel-btn-shape rotate-icon d-flex">
        <a class="button background-section background-theme" href="#page_wrapper" rel="nofollow"
          data-pixel-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
          <span class="title-btn text-upper p-relative z-index-1 heading-color" data-animate-text="Scroll Down">
            <span>Scroll Down</span>
          </span>
        </a>

        <span class="icon background-theme">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z"></path>
          </svg>
        </span>
      </div>

      <div class="pixel-btn pixel-btn-shape d-flex">
        <a class="button background-theme effect-ajax" href="/contact" data-pixel-text="Contact Me">
          <span class="title-btn text-upper p-relative z-index-1 heading-color" data-animate-text="Contact Me">
            <span>Contact Me</span>
          </span>
        </a>

        <span class="icon background-theme">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</header>
<!-- ========== End Header ========== -->

<div id="page_wrapper" class="wrapper">
  <!-- ========== About Us ========== -->
  <section class="about-section section-padding p-relative">
    <div class="container">
      <div class="d-grid grid-lg-2">
        <div class="box-text p-relative">
          <div class="bg-pattern p-absolute w-100"></div>
          <h2 class="title mb-30 pixel-fill">
            <span
              data-pixel-animation='{"from":{"paddingLeft":"10%"},"to":{"paddingLeft":"20%"},"responsive":["tablet","desktop"]}'>I
              AM</span>
            <br />{{ .Params.about_title}}<br />
          </h2>

          <p class="pixel-up">
            {{ .Params.about_text}}
          </p>

          <div class="pixel-btn pixel-btn-shape mt-30 d-flex">
            <a class="button background-theme effect-ajax" href="/about">
              <span class="title-btn p-relative z-index-1 heading-color" data-animate-text="ABOUT">
                <span>ABOUT Me</span>
              </span>
            </a>

            <span class="icon background-theme">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z"></path>
              </svg>
            </span>
          </div>
        </div>

        <div class="corner-box over-hidden">
          <div class="corner__lb"></div>
          <div class="box-img h-100 img-box-parallax before-z-index pixel-animate pixel-effect-down"
            data-pixel-triggerhook="bottom" data-pixel-grid="move-up" data-overlay="0">
            <img class="cover-bg-img" src="/img/hero.jpg" alt="pixel-image" />
          </div>
        </div>
      </div>

      {{ partial "experience.html" . }}
    </div>
  </section>
  <!-- ========== End About Us ========== -->

  <!-- ==========  Service ========== -->
  <!-- ========== Service========== -->
  <section class="services-lest-hover not-filter pixel-filter p-relative section-margin">
    <div class="container">
      <div class="section-title mb-70 d-flex flex-column">
        <span class="sub-heading mb-10 pixel-fill">{{ .Params.service_title }}</span>

        <h2 class="title pixel-fill">
          {{ .Params.service_text | safeHTML }}
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="pixel-cards">
        <div class="pixel-posts pixel-style-hover-list pixel-layout-fade-up" data-pixel-fx="2">
          {{ range .Params.service}}
          <div class="item d-flex p-relative box-hover-image pixel-style-hover pixel-up" data-img="{{ .image }}">
            <h2 class="title">
              <a href="#" class="effect-ajax">{{.title}}</a>
            </h2>
            <span class="number">{{.number}}</span>
          </div>
          {{ end }}

          <div class="pixel-up d-inline-flex">
            <div class="pixel-btn pixel-btn-shape d-flex no-padding text-upper">
              <span class="icon background-main theme-color">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== End Service========== -->

  <!-- ==========   Skill ========== -->
  <div class="background-section section-padding">
    <div class="container">
      <div class="d-grid grid-half-1">
        <div class="box-title d-flex flex-column justify-content-center">
          <div class="section-title d-flex flex-column">
            <span class="sub-heading pixel-fill">{{ .Params.skill_title }}</span>

            <h2 class="title pixel-fill">
              {{ .Params.skill_text |safeHTML }}
            </h2>
          </div>
        </div>

        <div class="pixel-skills">
          <div class="d-grid grid-md-2 pixel-layout-fade-up">
            {{ range .Params.skill }}
            <div
              class="pixel-skills-item grid-item background-main has-border-radius p-10 d-flex align-items-center pixel-up">
              <div class="box-img mr-15 v-dark background-section">
                <img src="{{ .image}}" alt="pixel-image" />
              </div>

              <div class="skills-inner w-100">
                <h6 class="pixel-title-award sm-title-block mb-5">{{ .title}}</h6>

                <span class="number mb-5">{{ .number }}</span>

                <div class="bar-progress background-section has-border-radius">
                  <span class="fill pixel-animate-skill background-heading has-border-radius"
                    data-pixel-width="{{ .number}}"></span>
                </div>
              </div>
            </div>

            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==========  End Skill ========== -->
  {{ partial "nextpage.html" . }}
</div>



{{ end }}