<div class="experience d-flex justify-content-between background-section mt-30 d-flex pixel-layout-fade-up">
  <div class="facts-inner p-10 d-grid grid-lg-2 gap-10 d-grid-no-space">
    <div class="fact-item background-main has-border-radius p-30 pixel-up">
      <h3 class="title d-flex align-items-start justify-content-center">
        30+
        <span class="background-theme p-5 has-border-radius">+</span>
      </h3>
      <p class="text-upper mt-20 v-light background-main p-5 text-center heading-color">
        Completed Projects
      </p>
    </div>

    <div class="fact-item background-main has-border-radius p-30 pixel-up">
      <h3 class="title d-flex align-items-start justify-content-center">
        98
        <span class="background-theme p-5 has-border-radius">%</span>
      </h3>
      <p class="text-upper mt-20 v-light background-main p-5 text-center heading-color">
        Client Satisfaction Rate
      </p>
    </div>
  </div>

  <div class="box-video pixel-up v-dark-head">
    <div class="box-img h-100 w-100 h-100 p-absolute top-0 right-0 pixel-hero-parallax-img before-z-index h-100"
      data-overlay="5">
      <img class="cover-bg-img" src="/img/bg-video.jpg" alt="pixel-image" />
    </div>
    <div class="ex d-flex align-items-end h-100 p-relative z-index-1">
      <h2 class="title theme-color pixel-animate-number">
        <span class="animate-number">4</span>
      </h2>
      <span class="ml-5 text-upper heading-color">Years <br />
        experience</span>
    </div>
  </div>
</div>