
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&amp;display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&amp;display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Satisfy&amp;display=swap"
    rel="stylesheet"
  />
 
  <title>Rupa - Portfolio Showcase</title>
  {{- $customCSS := resources.Get "css/main.scss" | toCSS  }}
  <link rel="stylesheet" type="text/css" href="{{ $customCSS.Permalink }}" />
 
  
</head>
