<section class="next-page v-dark section-padding">
  <div class="container">
    <div class="tob-box d-flex justify-content-between align-items-end border-bottom pb-50 mb-50">
      <h2 class="title text-upper">
        Code. Create. <br />
        Conquer!
      </h2>

      <div class="pixel-btn pixel-btn-shape d-flex">
        <a class="button background-main v-light effect-ajax" href="contact.html">
          <span class="title-btn p-relative z-index-1 heading-color" data-animate-text="Let's talk!">
            <span>Let's talk!</span>
          </span>
        </a>

        <span class="icon background-main v-light">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>

  <div class="pixel-container pixel-right-container over-hidden">
    <div class="bottom-box">
      <div class="d-grid custom-width">
        <div class="text">
          <h4 class="title-block mb-15">
            IS YOUR BIG IDEA READY <br />TO TAKE OFF?
          </h4>
          <p>
            DON’T HESITATE—REACH OUT AND LET'S BRING YOUR VISION TO LIFE WITH
            CREATIVITY AND INNOVATION!
          </p>
        </div>

        <div class="p-relative pixel-marquee over-hidden"
          data-pixel-option='{"speed":0,"duplicatedNumber":7,"duration":7000,"gap":60,"delayBeforeStart":1000,"direction":"left","duplicated":true,"pauseOnHover":false,"startVisible":true,"pauseOnCycle":false,"allowCss3Support":true}'>
          <h2 class="pixel-text-marquee d-flex title-lg">
            Code & Design Studio
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>