<div id="pixel_preloader" class="preloader">
  <div class="pixelload p-absolute">
    <span class="pixelload__row">
      <span class="pixelload__img">
        <h4 class="logo-text">PIXELX</h4>

      </span>
    </span>
    <span class="pixelload__row pixelload__row--sibling">
      <span class="pixelload__img">
        <h4 class="logo-text">PIXELX</h4>

      </span>
    </span>
    <span class="pixelload__row pixelload__row--sibling">
      <span class="pixelload__img">
        <h4 class="logo-text">PIXELX</h4>

      </span>
    </span>
    <span class="pixelload__row pixelload__row--sibling">
      <span class="pixelload__img">
        <h4 class="logo-text">PIXELX</h4>

      </span>
    </span>
  </div>

  <div class="logo-box v-middle">
    <h3 class="title text-upper">PIXELX</h3>
  </div>

  <div class="loading-count">
    <p>0</p>
  </div>

  <span class="loading-text text-uppercase mt-30 pixel-container">Loading ...</span>
  <div class="bg-load background-section d-flex align-items-end pixel-bg-pattern bg-offset bg-square">
    <svg class="pixel-separator-bottom pixel-icon-assistant-color" width="100%" height="100%" viewBox="0 0 100 10"
      preserveAspectRatio="none">
      <path class="path-anim separator__path" data-pixel-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
        vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
    </svg>
  </div>
</div>