<!-- ========== Brand ========== -->
<div class="pixel-brand brand-radu p-relative section-padding background-section pixel-skew-scroll">
  <div class="p-absolute top-0 left-0 bottom-0 w-100 h-100">
    <div class="img-box-parallax before-z-index w-100 h-100 p-absolute top-0 bottom-0 left-0" data-overlay="7"
      data-pixel-grid="move-up">
      <img src="/img/img-under-header.jpg" class="has-bigger-scale cover-bg-img has-direction" alt="pixel-image">
    </div>
  </div>

  <div class="container">
    <div class="brand-inner d-grid grid-md-2 grid-lg-4  align-items-center p-relative z-index-1">
      <div class="brand-boxs d-flex flex-column align-items-end">
        <div class="brand-item brand-item-lg content-blure">
          <img src="/img/skills/atom.png" alt="pixel-image">
        </div>

        <div class="brand-item brand-item-sm content-blure mt-30">
          <img src="/img/skills/css-3.png" alt="pixel-image">
        </div>
      </div>

      <div class="brand-boxs d-flex flex-column align-items-start">
        <div class="brand-item brand-item-sm content-blure">
          <img src="/img/skills/folder.png" alt="pixel-image">
        </div>

        <div class="brand-item brand-item-lg content-blure mt-30">
          <img src="/img/skills/html-5.png" alt="pixel-image">
        </div>
      </div>

      <div class="brand-boxs d-flex flex-column align-items-start">
        <div class="brand-item brand-item-sm content-blure">
          <img src="/img/skills/nodejs.png" alt="pixel-image">
        </div>

        <div class="brand-item brand-item-lg content-blure mt-30">
          <img src="/img/skills/github.png" alt="pixel-image">
        </div>
      </div>

      <div class="brand-boxs d-flex flex-column align-items-start">
        <div class="brand-item brand-item-lg content-blure">
          <img src="/img/skills/sql-server.png" alt="pixel-image">
        </div>

        <div class="brand-item brand-item-sm content-blure mt-30">
          <img src="/img/skills/git.png" alt="pixel-image">
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ========== End Brand ========== -->